<ng-container > 
  

<div class="wrap" >
      <div class="info">
          <h3>
                <span class='status'>App Seguimiento de pedido</span>
          </h3>
      </div>
      
      <div class="datos" >
          <div class="subdatos col-12 col-md-5">
  
              <div>
                  <label><i class="bi bi-person-vcard"></i>Usuario :</label> 
                  <ul>
                      <li>Nombre</li>
                      <li>Direccion </li> 
                  </ul>
              </div>
              <div>
                  <label><i class="bi bi-cart-check"></i>Tienda :</label> 
                  <ul>
                      <li>Nombre</li>
                      <li>Direccion</li>
                  </ul>
              </div>
        
          </div>
          <div class="mapa col-12 col-md-7"> 
            <div id="map"></div>

          </div>
      </div>
</div>



</ng-container>

